<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="nav-main">
        <div class="nav-main_Wrapper">
            <ul class="nav-main_list">
                <a class="logo-landingpage" href="/"><img src="assets/img/logo.png" alt="logo"></a>
                <li class="nav-main_item">
                    <a href="">For designers</a>
                </li>
                <li class="nav-main_item">
                    <a href="">Hire talent</a>
                </li>
                <li class="nav-main_item">
                    <a (click)="goToPage('designs')">Inspiration</a>
                </li>

                <li class="nav-main_item">
                    <a href="">Advertising</a>
                </li>
                <li class="nav-main_item">
                    <a href=""> Blog</a>
                </li>
                <li class="nav-main_item">
                    <a href=""> About</a>
                </li>
                <li class="nav-main_item">
                    <a href=""> Careers</a>
                </li>
                <li class="nav-main_item">
                    <a href=""> Support</a>
                </li>
            </ul>
            <div class="social-media">

                <div class="twitter">
                    <svg height="100" width="100">
                        <path [attr.d]="svgtwitter" fill="black" />
                    </svg>
                </div>
                <div class="faceBook">
                    <svg height="100" width="100">
                        <path [attr.d]="svgfacebook" fill="black" />
                    </svg>
                </div>
                <div class="Instagram">
                    <svg height="200" width="200">
                        <path [attr.d]="svginstagram" fill="black" />
                    </svg>
                </div>

                <div class="printrest">
                    <svg height="100" width="100">
                        <path [attr.d]="svgprintrest" fill="black" />
                    </svg>
                </div>
            </div>
        </div>
    </nav>
    <footer>
        <div class="leftfooter">
            <div class="copyrights">© 2023 Dribble</div>
            <ul class="footerul">
                <li class=" nav-footer-item">
                    <a href="">Teams</a>
                </li>
                <li class=" nav-footer-item">
                    <a href="">Privarcy</a>
                </li>
                <li class="nav-footer-item">
                    <a href="">Cookies</a>
                </li>
            </ul>
        </div>
        <div class="rightfooter">
            <div class="nav-footer">
                <ul class="footerul">
                    <li class=" nav-footer-item">
                        <a href="">Jobs</a>
                    </li>
                    <li class=" nav-footer-item">
                        <a href="">Designers</a>
                    </li>
                    <li class="nav-footer-item">
                        <a href="">Freelancers</a>
                    </li>

                    <li class="nav-footer-item">
                        <a href="">Tags</a>
                    </li>
                    <li class="nav-footer-item">
                        <a href=""> Places</a>
                    </li>
                    <li class="nav-footer-item">
                        <a href=""> Resource</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>